.container{
    display: flex;
    background-color: aqua;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}
div{
    width: 110px;
    height: 110px;
    background-color: rgb(13, 98, 119);
    flex-wrap: wrap;
    flex-direction: column ;
}
.caixa01m{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.caixap{
    background-color: blueviolet;
    width: 35px;
    height: 35px;
}

.caixa01{
    display: flex;
    align-items: flex-start;
}
.caixa02{
    display: flex;
    justify-content: center;
}
.caixa03{
    display: flex;
    justify-content: flex-end;
}
.caixa04{
    display: flex;
    align-items: center;
}
.caixa05{
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa06{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.caixa07{
    display: flex;
    align-items: flex-end;
}
.caixa08{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.caixa09{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}